
<h1>Liste des playlists</h1>

<section>
  <div class="row mt-5">
    <div *ngFor="let playlist of playlists$ | async" class="col-sm-4 col-12 align-items-center justify-content-center d-flex">
      <div [routerLink]="['/playlists/', playlist.id]" class="card mb-4" style="width: 12rem;" role="button">
        <img [src]="playlist.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ playlist.title }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
